# 한줄표현

## for문 한줄 표현식
<pre>
* [  처리부  for  n  in  [1,2,3,4] ]
* for n in [1,2,3,4]:
      처리부


* frames = [ process_your_file(f)  for  f  in  files ]
* result = pd.concat(frames)

In [ ]:
for dan in [2,3,4] :
    for gob in [1,2,3]:
        print (dan, '*', gob)

In [28]:
[    print (dan, '*', gob)    for    dan in [2,3,4]    for    gob in [1,2,3]     ]

2 * 1
2 * 2
2 * 3
3 * 1
3 * 2
3 * 3
4 * 1
4 * 2
4 * 3

[None, None, None, None, None, None, None, None, None]

## if문 한줄 표현식
<pre>
* if 조건 :
*   처리부 if
* else :
*   처리부else


* 처리부if  if 조건    else   처리부else
* 처리부if  if 조건if  else  (처리부elif  if  조건elif  else  처리부else)

In [20]:
score = 80
if score < 90:
    print('작다')
else :
    print('크다')

작다

In [3]:
score = 80
print('작다' if score < 90 else '크다')

작다

In [12]:
score = 80
if score < 90:
    print('B')
elif score < 80:
    print('C')
else :
    print('D')

B

In [13]:
score = 80
print('B' if score < 90 else ('C' if score < 80  else 'D'))

B

## for + if

In [14]:
for n in [1,2,3]:
    if n == 2:
        print('이')

이

In [24]:
[print('이') for n in [1,2,3] if n == 2]
## if처리문 앞으로  ---->  : 지우기  -----> 앞 뒤 []로 묶기

이

[None]

## for + if else

In [25]:
for n in [1,2,3] : 
    if n == 2:
        print('이')
    else:
        print('그외')

그외
이
그외

In [31]:
[print('이' if n == 2 else '그외') for n in [1,2,3]]
## for 뒤에 처리문 (if전체)를 맨앞으로 ---->  if문 한줄표현으로

그외
이
그외

[None, None, None]

# Lambda(람다)
<pre>
* 일회용 함수
* unknown named function

## 람다 사용예
* lambda 파라미터  : 표현식
* (lambda a,b : a+b) (5,7)
* aaa = (lambda a,b : a+b)
* aaa(5,7)

In [32]:
def add(a,b):
    return a+b
add(5,7)

12

In [33]:
def score_check(score):
    if score > 90:
        return '1'
    else:
        return '0'
score_check(99)
## 함수명O

'1'

In [35]:
lambda score : '1' if score > 90 else '0'

In [37]:
(lambda score : '1' if score > 90 else '0')(95)

'1'

In [40]:
score_check =  (lambda score : '1' if score > 90 else '0')
score_check(80)
## 변수명O / 함수명X

'0'

## 람다 사용예2
* lambda 파라미터 : 함수명
* (lambda 파라미터 : 함수명)(대입값)

In [ ]:
def score_check(score):
    if score > 90:
        return '1'
    else:
        return '0'
score_check(99)

In [44]:
(lambda x : score_check(x) ) (99)

'1'

# Map

## map  (  lambda함수,  리스트  )

In [47]:
( lambda x : x+10)
list ( map (lambda x : x+10, [1,2,3,4]) )

[11, 12, 13, 14]

In [49]:
mymap =  map (lambda x : x+10, [1,2,3,4]) 
list(mymap)

[11, 12, 13, 14]

In [48]:
aaa = ( lambda x : x+10)
list ( map (aaa, [1,2,3,4]) )

[11, 12, 13, 14]

## Quiz

### Quiz 1

In [156]:
tel = ["02-222-3333", "032-222-3333","032-222-3333","031-222-3333"]
# 02  :  서울
# 032 : 인천
# 031 : 경기


a_list = [tel[n][0:3] for n in [0,1,2,3]] 
for a in a_list:
    if a == "02-":
        print('서울')
    elif a == "032":
        print('인천')
    else :
        print('경기')
# tel[0][0:3]

서울
인천
인천
경기

In [ ]:
tel_list = ["02-222-3333", "032-222-3333","032-222-3333","031-222-3333"]
# 02  :  서울
# 032 : 인천
# 031 : 경기

* 해결 1) 단순함수사용

In [165]:
def tel_check(tel): 
    for x in tel:
        loc_tel = x.split('-')[0]
        loc = '그외'
        # print(loc_tel)
        if loc_tel == '02':
            loc ='서울'
        elif loc_tel == '032':
            loc ='인천'    
        elif loc_tel == '031':
            loc ='경기' 
        print(loc_tel, loc)
tel_check(tel)

02 서울
032 인천
032 인천
031 경기

* 해결2 ) 람다사용 + 사용자정의함수
* (lambda x : lambda함수)()

In [166]:
# tel_check(["02-222-3333", "032-222-3333","032-222-3333","031-222-3333"])    
(lambda x : tel_check (x))(tel_list)

02 서울
032 인천
032 인천
031 경기

* 해결 3 ) list(map(lambda함수,리스트))

In [162]:
def tel_check(tel): 
    loc_tel = x.split('-')[0]
    loc = '그외'
    # print(loc_tel)
    if loc_tel == '02':
        loc ='서울'
    elif loc_tel == '032':
        loc ='인천'    
    elif loc_tel == '031':
        loc ='경기' 
    return loc_tel, loc

list (map(lambda x : tel_check (x), tel))

[('031', '경기'), ('031', '경기'), ('031', '경기'), ('031', '경기')]

### Quiz 2. 1~100합 출력

* 해결책 1

In [179]:
def summ(c):
    a = 0
    for n in range(1,c+1):
            a = a+n 
    return a

summ(100)

5050

* 해결책 2)

In [175]:
(lambda x : summ (x))(100)

5050

* 해결책 3) ----춫천

In [189]:
import numpy as np

In [195]:
np.sum(range(1,101))

5050

In [197]:
np.sum([x for x in range(1,101)])

5050

*해결책 6) reduce() 누적함수

In [198]:
from functools import reduce
res = reduce ((lambda s, n : s+n), [n for n in range(1,101)])
res

5050

# 한줄표현

## for문 한줄 표현식
<pre>
* [  처리부  for  n  in  [1,2,3,4] ]
* for n in [1,2,3,4]:
      처리부


* frames = [ process_your_file(f)  for  f  in  files ]
* result = pd.concat(frames)

In [ ]:
for dan in [2,3,4] :
    for gob in [1,2,3]:
        print (dan, '*', gob)

In [28]:
[    print (dan, '*', gob)    for    dan in [2,3,4]    for    gob in [1,2,3]     ]

2 * 1
2 * 2
2 * 3
3 * 1
3 * 2
3 * 3
4 * 1
4 * 2
4 * 3

[None, None, None, None, None, None, None, None, None]

## if문 한줄 표현식
<pre>
* if 조건 :
*   처리부 if
* else :
*   처리부else


* 처리부if  if 조건    else   처리부else
* 처리부if  if 조건if  else  (처리부elif  if  조건elif  else  처리부else)

In [20]:
score = 80
if score < 90:
    print('작다')
else :
    print('크다')

작다

In [3]:
score = 80
print('작다' if score < 90 else '크다')

작다

In [12]:
score = 80
if score < 90:
    print('B')
elif score < 80:
    print('C')
else :
    print('D')

B

In [13]:
score = 80
print('B' if score < 90 else ('C' if score < 80  else 'D'))

B

## for + if

In [14]:
for n in [1,2,3]:
    if n == 2:
        print('이')

이

In [24]:
[print('이') for n in [1,2,3] if n == 2]
## if처리문 앞으로  ---->  : 지우기  -----> 앞 뒤 []로 묶기

이

[None]

## for + if else

In [25]:
for n in [1,2,3] : 
    if n == 2:
        print('이')
    else:
        print('그외')

그외
이
그외

In [31]:
[print('이' if n == 2 else '그외') for n in [1,2,3]]
## for 뒤에 처리문 (if전체)를 맨앞으로 ---->  if문 한줄표현으로

그외
이
그외

[None, None, None]

# Lambda(람다)
<pre>
* 일회용 함수
* unknown named function

## 람다 사용예
* lambda 파라미터  : 표현식
* (lambda a,b : a+b) (5,7)
* aaa = (lambda a,b : a+b)
* aaa(5,7)

In [32]:
def add(a,b):
    return a+b
add(5,7)

12

In [33]:
def score_check(score):
    if score > 90:
        return '1'
    else:
        return '0'
score_check(99)
## 함수명O

'1'

In [35]:
lambda score : '1' if score > 90 else '0'

In [37]:
(lambda score : '1' if score > 90 else '0')(95)

'1'

In [40]:
score_check =  (lambda score : '1' if score > 90 else '0')
score_check(80)
## 변수명O / 함수명X

'0'

## 람다 사용예2
* lambda 파라미터 : 함수명
* (lambda 파라미터 : 함수명)(대입값)

In [ ]:
def score_check(score):
    if score > 90:
        return '1'
    else:
        return '0'
score_check(99)

In [44]:
(lambda x : score_check(x) ) (99)

'1'

# Map

## map  (  lambda함수,  리스트  )

In [47]:
( lambda x : x+10)
list ( map (lambda x : x+10, [1,2,3,4]) )

[11, 12, 13, 14]

In [49]:
mymap =  map (lambda x : x+10, [1,2,3,4]) 
list(mymap)

[11, 12, 13, 14]

In [48]:
aaa = ( lambda x : x+10)
list ( map (aaa, [1,2,3,4]) )

[11, 12, 13, 14]

## Quiz

### Quiz 1

In [156]:
tel = ["02-222-3333", "032-222-3333","032-222-3333","031-222-3333"]
# 02  :  서울
# 032 : 인천
# 031 : 경기


a_list = [tel[n][0:3] for n in [0,1,2,3]] 
for a in a_list:
    if a == "02-":
        print('서울')
    elif a == "032":
        print('인천')
    else :
        print('경기')
# tel[0][0:3]

서울
인천
인천
경기

In [ ]:
tel_list = ["02-222-3333", "032-222-3333","032-222-3333","031-222-3333"]
# 02  :  서울
# 032 : 인천
# 031 : 경기

* 해결 1) 단순함수사용

In [165]:
def tel_check(tel): 
    for x in tel:
        loc_tel = x.split('-')[0]
        loc = '그외'
        # print(loc_tel)
        if loc_tel == '02':
            loc ='서울'
        elif loc_tel == '032':
            loc ='인천'    
        elif loc_tel == '031':
            loc ='경기' 
        print(loc_tel, loc)
tel_check(tel)

02 서울
032 인천
032 인천
031 경기

* 해결2 ) 람다사용 + 사용자정의함수
* (lambda x : lambda함수)()

In [166]:
# tel_check(["02-222-3333", "032-222-3333","032-222-3333","031-222-3333"])    
(lambda x : tel_check (x))(tel_list)

02 서울
032 인천
032 인천
031 경기

* 해결 3 ) list(map(lambda함수,리스트))

In [162]:
def tel_check(tel): 
    loc_tel = x.split('-')[0]
    loc = '그외'
    # print(loc_tel)
    if loc_tel == '02':
        loc ='서울'
    elif loc_tel == '032':
        loc ='인천'    
    elif loc_tel == '031':
        loc ='경기' 
    return loc_tel, loc

list (map(lambda x : tel_check (x), tel))

[('031', '경기'), ('031', '경기'), ('031', '경기'), ('031', '경기')]

### Quiz 2. 1~100합 출력

* 해결책 1

In [179]:
def summ(c):
    a = 0
    for n in range(1,c+1):
            a = a+n 
    return a

summ(100)

5050

* 해결책 2)

In [175]:
(lambda x : summ (x))(100)

5050

* 해결책 3) ----춫천

In [189]:
import numpy as np

In [195]:
np.sum(range(1,101))

5050

In [197]:
np.sum([x for x in range(1,101)])

5050

*해결책 6) reduce() 누적함수

In [198]:
from functools import reduce
res = reduce ((lambda s, n : s+n), [n for n in range(1,101)])
res

5050