In [ ]:
import pandas as pd
import numpy as np

# series
<pre>
data=list or array,
        index=None,
        dtype: Dtype | None = None,
        name=None,

In [ ]:
my_list = ([1,2,3,'A', np.nan])
s= pd.Series(data=my_list, index=range(5), name="seq")
s

In [ ]:
my_list = ([1,2,3,'A', np.nan])
## 숫자,글자 조합이라서 글자타입으로 인식
myarr = np.array(my_list)
s= pd.Series(data=myarr, index=range(5), name="seq")
myarr

In [ ]:
my_list = ([1,2,3,'A',np.nan])
my_arr = np.array(my_list)
# my_arr
print(my_arr.shape,"주의주의1행5열 - 배열이다")

In [ ]:
mylist = [[1,2,3],[10,20,30]]
print(mylist ) #[[1, 2, 3], [10, 20, 30]], list는 shape 없다
print(len(mylist), len(mylist[0])) ##----row갯수

myarr = np.array(mylist)
print(myarr) #[[ 1  2  3]
              #[10 20 30]]
print(myarr.shape)   #shape() -X, 괄호 없다

# DataFrame
<pre>
*head(), tail(), info(), shape, describe()
data=None,
        index: Axes | None = None,
        columns: Axes | None = None,
        dtype: Dtype | None = None,

## list or array

In [ ]:
mylist = [[1,2,3],[10,20,30]]
myarr = np.array(mylist)


# df = pd.DataFrame(data = myarr)
df = pd.DataFrame(data = mylist, columns=["a","b","c"], index =["@","@@"])
print(df.shape)
print("row갯수",len(df))
df

In [ ]:
df.info()

In [ ]:
# df.head()
df.head(5)

In [ ]:
df.tail()

In [ ]:
df.describe()

## list, dic

In [ ]:
listdic =[{"uid" : "kim", "upw" : 111}
          ,{"uid" : "kim", "upw" : 111}
          ,{"uid" : "kim", "upw" : 111}
         ]
df = pd.DataFrame(listdic)
df
## 딕셔너리 키 값이 곧 컬럼 이름

In [ ]:
listlist = [['kim',111]
            ,['kim',111]]
df = pd.DataFrame(listlist, columns = ['a','b'])
df

# DataFrame 구조보기

In [ ]:
df = pd.DataFrame(['a','b','c','d'], columns = ['codes'])
s = pd.Series([1,2,3,4])
df['seq'] = s
df['sal'] = [100,200,300,400]
df[['id','pw']] = np.array([['kim',1111]]*4)
df['tel'] = '010'
df
### '010' : 0으로 시작하는 숫자 없다/0날아가고 10만 남기 때문에 문자취급

In [ ]:
df = pd.DataFrame(['a','b','c','d'], columns = ['codes'])
df.index = [10,20,30,40]  ##----index넣기
df

In [ ]:
df = pd.DataFrame(['a','b','c','d'], columns = ['codes'], index = [10,20,30,40])

# df.index              ###---index출력
# df.index.values ##--- array로 나옴
df.index.values.tolist()  ##---list로 형전환
#컬럼 이름 없는 게 인덱스

In [ ]:
s = pd.Series([1,2,3,4])
df = pd.DataFrame(['a','b','c','d'], columns = ['codes'])
df['seq'] = s
df['sal'] = [100,200,300,400]

df.columns  ##--columns출력
print(df.columns.values) ##--- array로 나옴
print(df.columns.values.tolist())  ##---list로 형전환

In [ ]:
s = pd.Series([1,2,3,4])
df = pd.DataFrame(['a','b','c','d'], columns = ['codes'])
df['seq'] = s
df['sal'] = [100,200,300,400]
df.values  ##--- 값 출력
# print(df.values.tolist())  ##----- list로 형전환

# select in DataFrame
<pre>
*loc[줄 : 칸] : 값으로 꺼내기
*iloc[줄 : 칸] : 인덱스로 꺼내기
*[줄 : 칸]
- 단일값
- 리스트 [단일값,단일값,단일값]
- 슬라이싱[ : ]

In [ ]:
df = pd.read_csv("./lec08_emp.csv", sep = "," , parse_dates = ['HIREDATE'])
df.head(14)    
###파일 불러오기
###parse_dates = ['HIREDATE'] dtype 날짜처리

In [ ]:
df.info()
## 결측 있으면 해당 컬럼의 Dtype은 float64
## object는 str타입

In [ ]:
df = pd.read_csv("./lec08_emp.csv", sep = "," )
print(df.head(3))
df.describe()

### 결측처리
* np.nan
* missing value
* df1. dropna(axis = 1 or axis = 0)
* df1. fillna(값)
* pd.isna(df1)

### df.isna(df1) 
*또는 pd.isna(df)

In [ ]:
dfcp = df.copy()
dfcp.isna()  ##--pandas에서 출력
# dfcp.notna()
# dfcp.isnull() ##--numpy에서 출력
# dfcp.notnull()

In [ ]:
dfcp = df.copy()
dfcp.head(3)

In [ ]:
dfcp = df.copy()
dfcp.isna().sum()

In [ ]:
# df[pd.isna(df) == True]

### dropna()
<pre>
*axis = 1 : column 지운다
*axis = 0 : row 지운다

In [ ]:
dfcp = df.copy()
# dfcp = dfcp.dropna(axis = 0) ##지운걸 다시 넣어야 지운 것이 반영
dfcp.dropna(axis = 0, inplace=True) ##---지운 걸 계속 반영하겠다
dfcp

In [ ]:
dfcp = df.copy()
dfcp = dfcp.dropna(axis = 1)

In [ ]:
dfcp

### fillna()
<pre>
* 결측 채우기 후 일반적으로 형변환을 한다
* dfcp[['컬럼']] =  dfcp[['컬럼']].astype('int') > 소수점 없어진다

In [ ]:
dfcp = df.copy()
dfcp = dfcp.fillna(99999)
# dfcp.fillna(99999, inplace = True)
dfcp.head(3)
## 원본컬럼 DTYPE과 동일한 TYPE으로 fillna()해라

In [ ]:
dfcp = df.copy()
dfcp['COMM'] = dfcp['COMM'].fillna(88888)
dfcp['MGR'] = dfcp['MGR'].fillna(77777)
dfcp
## 컬럼별로 nan 다른 값 채우기

In [ ]:
dfcp = df.copy()
dfcp[['COMM','MGR']] = dfcp[['COMM','MGR']].fillna(555555)
dfcp[['COMM','MGR']] = dfcp[['COMM','MGR']].astype('int')
## .astype 형변환
dfcp