In [1]:
import numpy as np
import pandas as pd

import warnings
warnings.filterwarnings(action='ignore')

import json

# Converter(변환)

In [8]:
listdic = [ {"uid":"kim" , "upw": 111} ,
            {"uid":"hong", "upw": 222}   
          ]
df = pd.DataFrame(listdic, index=['idx77','idx88'])
# df.index = ['77','88']
df

        uid  upw
idx77   kim  111
idx88  hong  222

In [10]:
df.to_json()
type(df.to_json())
### listdic >>> str

str

In [11]:
json.loads(df.to_json())
### str >>> dict

{'uid': {'idx77': 'kim', 'idx88': 'hong'}, 'upw': {'idx77': 111, 'idx88': 222}}

* Orient = 'records' : index고려하지 않음

In [12]:
df.to_json(orient = 'records')

'[{"uid":"kim","upw":111},{"uid":"hong","upw":222}]'

In [ ]:
* JSON 데이터를 파일에 쓰기

In [13]:
# data=df.to_json(orient = 'records')
# with open('./lec15_data.json','w') as f:
#     f.write('data')
# ## 할필요없다, to_json()에 이미 있는 기능

In [14]:
df.to_json('./lec15_data2.json',orient = 'records')
## 춫천

In [ ]:
* JSON 데이터 파일을 읽기

In [16]:
pd.read_json('./lec15_data2.json')

    uid  upw
0   kim  111
1  hong  222