# 파이썬 매크로

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings(action='ignore')

<pre>
import pyautogui
import pyperclip

time.sleep(1800)

# 마우스가 해상도 영역을 벗어나면 발생하는 오류를 끔 (특정 환경에서 오류 발생하는 경우 사용)
# pyautogui.FAILSAFE = False

pyautogui.moveTo(200, 200)    # 화면 해상도의 가로 200, 세로 200 픽셀 위치로 마우스 이동
pyautogui.click()    # 현재 마우스 커서 위치에서 마우스 클릭
pyautogui.click(660, 185)    # 특정 위치에 마우스 클릭 (순간이동하여 클릭함)
pyautogui.rightClick(560, 172)    # 특정 위치에 마우스 우클릭 (순간이동하여 클릭함)
pyautogui.moveTo(500, 500, duration=1)    # 이동하는 속도 1초 설정

pyautogui.typewrite('apple')    # 텍스트 입력
# 한글 입력시 pyautogui.typewrite('사과') 로 하면 unicode 한글은 입력이 안됨.
# 아래와 같이 클립보드에 복사해서 붙여넣기 하는 방식으로 진행

pyperclip.copy('사과')
pyautogui.hotkey('ctrl', 'v')

pyautogui.hotkey('alt', 'f4')   # 단축키 입력 ('esc',  'enter', 'ctrl', 'tab' 등 한 개 또는 복수 키 입력)
pyautogui.typewrite(['enter'])    # 이렇게 키 입력할 수도 있음

# 윈도우키를 누르고 있는 상태에서 왼쪽 방향키 짧게 누르고 윈도우키를 뗌
pyautogui.keyDown('win')
pyautogui.press('left')
time.sleep(1.5)
pyautogui.keyUp('win')
time.sleep(0.5)

time.sleep(10)    # 10초 대기 (클릭 후 화면이 뜨기까지 등 반응시간 대기)

fw = pyautogui.getActiveWindow()
fw.close()   # 현재 활성화 상태인 창 닫기

In [2]:
# ! pip install pyautogui

In [3]:
# import pyautogui
# pyautogui.position()
# --> (x, y)
# 주소창  Point(x=-639, y=59)
# 엑셀다운  -1807,688
# 다운로드   -928,726
# 저장       -710,692
# 창 활성화 -1116,18

In [4]:
# pyautogui.scroll(-200)

# 테스트

In [5]:
import pyautogui
import pyperclip
pyautogui.FAILSAFE = False
import time
import pyperclip

In [6]:
name_list = pd.read_csv('../데이터/최종기업ticker.csv',names = ['name','ticker'])
name_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127 entries, 0 to 126
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    126 non-null    object
 1   ticker  127 non-null    object
dtypes: object(2)
memory usage: 2.1+ KB

In [7]:
name_list = name_list.dropna()
name_list.head(10)

       name  ticker
1     CMG제약  058820
2       HLB  028300
3   HLB생명과학  067630
4    JW생명과학  234080
5      JW신약  067290
6    JW중외제약  001060
7   강스템바이오텍  217730
8      경남제약  053950
9      경동제약  011040
10     광동제약  009290

In [8]:
# pyautogui.hotkey('ctrl','t')

In [9]:
for name in name_list['name'][6:10]:
    print(name)

강스템바이오텍
경남제약
경동제약
광동제약

# request_get
* 새창에서 로그인을 매번 해야함 XXXX ---- 불가능

In [10]:
# driver = webdriver.Chrome('chromedriver_110.exe')

In [11]:
# import requests
# from selenium import webdriver
# from selenium.webdriver.common.by import By
# from selenium.webdriver.common.keys import Keys
# import random

In [12]:
# for name in name_list['name'][6:8]:
#     interval = round(random.uniform(0.2, 1.2), 2)
#     time.sleep(interval)
#     #------------------------------------------------
#     url =  f'https://deepsearch.com/analytics/documents/news?doc-sec=economy%253Btech&doc-q={name}&doc-from=2018-01-01&doc-to=2020-12-31&doc-page=1'
#     # print(url)
#     driver = webdriver.Chrome('chromedriver_110.exe')
#     driver.get(url)

# 그냥 매크로로 하겠다

In [13]:
for name in name_list['name'][105:106]:
    print(name)

테라젠이텍스

In [18]:
date_list = [
['2010-01-01','2010-12-31']
,['2011-01-01','2011-12-31']
,['2012-01-01','2012-12-31']
,['2013-01-01','2013-12-31']
,['2014-01-01','2014-12-31']
,['2015-01-01','2015-12-31']
,['2016-01-01','2016-12-31']
,['2017-01-01','2017-12-31']
]

In [19]:
date_list = pd.DataFrame(date_list)
date_list

            0           1
0  2010-01-01  2010-12-31
1  2011-01-01  2011-12-31
2  2012-01-01  2012-12-31
3  2013-01-01  2013-12-31
4  2014-01-01  2014-12-31
5  2015-01-01  2015-12-31
6  2016-01-01  2016-12-31
7  2017-01-01  2017-12-31

In [20]:
name_list.head()

      name  ticker
1    CMG제약  058820
2      HLB  028300
3  HLB생명과학  067630
4   JW생명과학  234080
5     JW신약  067290

In [21]:
name_list[name_list['name']=='바이넥스']

    name  ticker
34  바이넥스  053030

In [22]:
for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
for name in name_list['name'][100:]:
    for i in range(5):
        pyautogui.hotkey('ctrl','t')
        time.sleep(3)
        pyautogui.click(1541,49)        
        # print(name)
        # pyautogui.typewrite(f'https://deepsearch.com/analytics/documents/news?doc-sec=economy%253Btech&doc-q={name}&doc-from=2018-01-01&doc-to=2020-12-31&doc-page=1')
        pyautogui.typewrite('https://deepsearch.com/analytics/documents/news?doc-sec=economy%253Btech&doc-q=')
        pyperclip.copy(name)
        pyautogui.hotkey('ctrl', 'v')
        pyautogui.typewrite(f'&doc-from={date_list.loc[i,0]}&doc-to={date_list.loc[i,1]}&doc-page=1')
        # # pyautogui.typewrite('https://deepsearch.com/analytics/documents/news?doc-sec=economy%253Btech&doc-q='+ name+'&doc-from=2018-01-01&doc-to=2020-12-31&doc-page=1')
        # # print(f'https://deepsearch.com/analytics/documents/news?doc-sec=economy%253Btech&doc-q={name}&doc-from=2018-01-01&doc-to=2020-12-31&doc-page=1')
        time.sleep(5)
        pyautogui.hotkey('enter')
        time.sleep(10)
        
        pyautogui.moveTo(1366,841)
        time.sleep(3)
        pyautogui.scroll(-5000)  # 스트롤 내리기
        time.sleep(3)
        pyautogui.click(135,687) # 엑셀다운 버튼클릭
        time.sleep(3)
        pyautogui.click(1016,740) # 다운로드 버튼클릭
        time.sleep(150)            # 10분 대기
        pyautogui.hotkey('enter')
        # pyautogui.click(584,445)  # 저장 버튼 클릭
        time.sleep(3)
        pyautogui.click(468,14)
        time.sleep(3)
        # fw = pyautogui.getActiveWindow()&doc-from=2020-01-01&doc-to=2020-12-31&doc-page=1
        # fw.close()

In [ ]:
pyautogui.click(-1104,14) # 창 클릭
time.sleep(1)
# pyautogui.click(-1660,55)
pyautogui.click(-1660,55) # 주소창 클릭
time.sleep(1)
pyautogui.typewrite('https://deepsearch.com/analytics/documents/news?doc-sec=economy%253Btech&doc-q=CMG%25EC%25A0%259C%25EC%2595%25BD&doc-from=2018-01-01&doc-to=2020-12-31&doc-page=1')
time.sleep(1)
pyautogui.hotkey('enter')
time.sleep(3)
pyautogui.moveTo(1366,841)
time.sleep(1)
pyautogui.scroll(-5000)  # 스트롤 내리기
time.sleep(1)
pyautogui.click(85,682) # 엑셀다운 버튼클릭
time.sleep(1)
pyautogui.click(1016,740) # 다운로드 버튼클릭
time.sleep(600)            # 10분 대기
pyautogui.click(1319,882)  # 저장 버튼 클릭

In [ ]:
pyautogui.click(-1104,14) # 창 클릭
time.sleep(1)
pyautogui.moveTo(-948,547)
time.sleep(1)
pyautogui.scroll(-5000)