# 모멘텀
* 추세를 활용한 투자 전략 기법

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pykrx import stock

import time
from functools import wraps
from xml.etree import ElementTree

import pandas as pd
import numpy as np
from datetime import datetime, date
from pykrx import stock

import FinanceDataReader as fdr

In [2]:
def myplot(df, nrows=5,  kind='line', title='제목', labels=False):  
    if nrows > 0:
        print(df.head(nrows))
    else:
        print(df.tail(nrows))
    
    if labels:
        cols = df.columns
        for i, col in enumerate(cols):
            df[col].plot(label=labels[i], kind=kind)
    else :
        df.plot(kind=kind)
    
    plt.title(title)
    plt.legend()
    plt.show()

In [3]:
def myplotmix(df1, df2, y1='ylabel-1', y2='ylabel-2', kind1='bar', kind2='line', title='제목',  nrows1=5, nrows2=5,  labels=False):  
    ytl=['b', 'g', 'r', 'c', 'm', 'y', 'k', 'w']

    if nrows1 > 0:
        print(df1.head(nrows1))
    elif nrows1 < 0:
        print(df1.tail(nrows1))
    if nrows2 > 0:
        print(df2.head(nrows2))
    else:
        print(df2.tail(nrows2))
    fig, ax1 = plt.subplots(figsize=(12, 4))
    ax2=ax1.twinx()
    if kind1 == 'line':
        df1.plot(kind=kind1, ax=ax2, marker='d',color='#e35f62')  #color='y', 
        df2.plot(kind=kind2, ax=ax1)  #bar
    else:
        df1.plot(kind=kind1, ax=ax1,color='#bcbd22')
        df2.plot(kind=kind2, ax=ax2) #color='y',
        
    # df['date'] = df['date'].dt.strftime('%Y-%m-%d')
    # ax1.set_xticklabels(df['date'])    
    ax1.yaxis.tick_right()
    ax2.yaxis.tick_left()
    ax1.set_ylabel(y1) #, color='red')
    ax2.set_ylabel(y2) #, color='red')
    ax1.legend(loc=1)
    ax2.legend(loc=2)
    plt.title(title)
    ax1.grid(False)
    ax2.grid(False)
    plt.show()

In [4]:
# krx = fdr.StockListing('KRX')
# # print(krx.shape[0])
# krx.head()

In [5]:
def my_ticker(names):    
    df_code = pd.read_html('http://kind.krx.co.kr/corpgeneral/corpList.do?method=download', header=0)[0]
    df_code.종목코드 = df_code.종목코드.map('{:06d}'.format)

    df_code = df_code[['회사명', '종목코드']]
    code_list = []
    for name in names:
        code = df_code.query("회사명=='{}'".format(name))['종목코드'].to_string(index=False)
        code_list.append(code)
    return code_list

# stocks = my_ticker(['삼성전자', 'SK하이닉스', '현대자동차', 'NAVER'])
# print(stocks)

In [6]:
def my_allticker():    
    df_allcode = pd.read_html('http://kind.krx.co.kr/corpgeneral/corpList.do?method=download', header=0)[0]
    df_allcode.종목코드 = df_allcode.종목코드.map('{:06d}'.format)

    df_allcode = df_allcode[['회사명', '종목코드']]
    return df_allcode
allstocks = my_allticker()
allstocks.head()

         회사명    종목코드
0     AJ네트웍스  095570
1    BNK금융지주  138930
2        DSR  155660
3         GS  078930
4  HDC현대산업개발  294870

In [7]:
def my_krx(start, end, code):
    error_list = []
    failed = 0
    success = 0
    name = allstocks.query("종목코드=='{}'".format(code))['회사명'].to_string(index=False)
    try:
        df = stock.get_market_ohlcv_by_date(start, end, code)
        df.reset_index(inplace=True)
        df.insert(loc=1, column='종목코드', value=code)
        df.insert(loc=2, column='종목명', value=name)
        df.columns = ['rdate', 'code', 'name', 'open', 'high', 'low', 'close','volume']
        success += 1
    except ElementTree.ParseError as e:
        error_list.append(e)
        drop_rows(database, table, code)  # 특정 종목코드에서 에러 발생 시 해당 종목코드에 대한 데이터 삭제 후 다음 종목코드로 넘어감
        failed += 1
    except Exception as e:
        print('Error occurred : ', e)
        failed += 1
#     print(f'success:{success}, failed:{failed}')
    return df

## 2년치 주가 정보 데이터 DB화
* 약 1년치당 5분 정도 소요
* 실수로 재실행 되지 않도록 주의

In [8]:
"""
drop table all_stock;
create Table all_stock (
rdate date,
code char(6),
name varchar2(50), 
open number, 
high number,  
low number,  
close number, 
volume number
);
"""

'\ndrop table all_stock;\ncreate Table all_stock (\nrdate date,\ncode char(6),\nname varchar2(50), \nopen number, \nhigh number,  \nlow number,  \nclose number, \nvolume number\n);\n'

In [9]:
# import sqlalchemy as sa
# import cx_Oracle
# df = pd.DataFrame()
# #DB CONN --- 루프 밖에서 한번만 연결 **** 주의주의주의
# oracle_db = sa.create_engine('oracle://hi:0000@localhost:1521/xe')
# conn = oracle_db.connect()
# for code in allstocks['종목코드']:
#     df1 = my_krx('20181203', '20201231', code)
#     df1.to_sql('all_stock', conn, if_exists='append', index=False)  
# conn.close()

## DB 조회
<pre>
* 방법1) SQL
  curs = conn.cursor()
  sql = "select * from all_stock where code=%s"
  curs.execute(sql, ('294870',))
  --------  
  for i in cursor:
    print(i)
  --------  
  rows = curs.fetchall()
  for i in rows:  
    print(i)

* 방법2) DataFrame
  df=pd.real_sql(""" sql(멀티라인가능) """ , con = conn)

In [10]:
import sqlalchemy as sa
import cx_Oracle
oracle_engine = sa.create_engine('oracle://AI:0000@localhost:1521/xe')
conn = oracle_engine.connect()
odf = pd.read_sql("select * from all_stock where code='294870'", conn)
odf.head()

ObjectNotExecutableError: Not an executable object: "select * from all_stock where code='294870'"

* xx상대모멘텀 : 상대적으로 수익률이 높은 종목을 매수하는 전략
* 절대모멘텀 : 강한 상승 추세에서만 매수하고, 그렇지 않은 경우 국채, 현금(매도)화 하는 전략    
* 강한 상승 추세 : 모멘텀수익률 > 국채수익률(단기성)    
* 듀얼모멘텀 : 상대 --> 채권수익 --> 절대모멘텀

#### 주식 수익률 = ((현재 주식 가격/매수 때 주식가격)-1)* 100 
#### 국채(단기) 수익률 =  ( (액면가 - 발행가) + 표면금리 ) / 발행가 
* 10만, 할인채90000 이때 국채 수익률은? --> 1년만기(10000시세차익+)  + 이자(10만2.4%)

In [ ]:
# def my_stock_return(sdate, edate, days):  #주:5  월:20  6:120  12:252
#     매수가 = ___
#     edate = ___
#     주식 수익률 = ((현재 주식 가격/매수 때 주식가격)-1)* 100
#     sort_valeus[:50]

In [ ]:
## 상대 모멘텀 : 특정 기간 내 수익률 상대적으로 높은것 TopN
rm_df =

In [ ]:
sql = """
Select rownum, tbl.* 
From 
(
  Select A.Code,A.Name, 매수가, 오늘주가,
     round(((오늘주가/매수가) -1 )* 100,3) as 수익률
  From 
    (Select Code,Name, Close As 매수가 From All_Stock Where Rdate='2019-06-03') A,
    (Select Code,name, Close As 오늘주가 From All_Stock Where Rdate='2019-12-30')B
  Where A.Code = B.Code
  Order By 수익률 Desc
) Tbl 
where rownum < 50
"""
odf = pd.read_sql(sql, conn)
odf.head()

In [ ]:
# 수집기간 :  '20181203' ,   '20201231'
# 상대모멘텀 : '2019-06-03', '2019-12-30'
# 절대모템텀 : '2020-01-03' ~ '2020-02-25'

In [ ]:
print(str(tuple(odf['code'].to_list())))

# in_vars = ','.join(':%d' % i for i in range(len(idlist)))
# '2020-01-01' ~ '2020-02-28'  in (ss.s.s.s.)

In [ ]:
sql = """
Select rownum, tbl.* 
From 
(
  Select A.Code,A.Name, 매수가, 오늘주가,
     round(((오늘주가/매수가) -1 )* 100,3) as 수익률
  From 
    (Select Code,Name, Close As 매수가 From All_Stock Where Rdate='2020-01-03') A,
    (Select Code,name, Close As 오늘주가 From All_Stock Where Rdate='2020-02-25')B
  Where A.Code = B.Code
  Order By 수익률 Desc
) Tbl 
where code in %s
order by 수익률 desc
"""   % str(tuple(odf['code'].to_list()))
absm_df = pd.read_sql(sql, conn)
absm_df.head()

In [ ]:
sql = """
Select rdate, close
From All_Stock 
Where code = '101360'
order by rdate asc
"""  
end_df = pd.read_sql(sql, conn)
# end_df = end_df.set_index('rdate')
today = "2020-02-25"  #오늘 날짜가 2020-02-25라면 투자했을 경우 수익률은?
plt.plot(end_df['rdate'], end_df['close'])
plt.plot(end_df['rdate'][end_df['rdate']==today], end_df['close'][end_df['rdate']==today],'r^')
# plt.plot('2020-02-25', '90.024', 'r^')

print("수익률 최대:", end_df['close'][end_df['rdate']==today].values)
plt.show()