In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings(action='ignore')

# 데이터 로드

In [2]:
ticker_df = pd.read_csv('../데이터/최종기업ticker.csv', names = ['names','ticker'])
ticker_df = ticker_df.dropna()

In [3]:
df_list =[]
for i in range(len(ticker_df)):
    name = ticker_df['names'][i+1]
    df_i = pd.read_csv(f'../데이터/공시정보/공시정보_csv/{name}.csv')
    df_list.append(df_i)

In [4]:
df_list[0].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   corp_name   42 non-null     object
 1   stock_code  42 non-null     int64
 2   report_nm   42 non-null     object
 3   rcept_dt    42 non-null     int64
 4   y           42 non-null     int64
 5   positive    42 non-null     float64
 6   negative    42 non-null     float64
dtypes: float64(2), int64(3), object(2)
memory usage: 2.4+ KB

In [5]:
df_list2 = []
for df in  df_list:
    # df.insert(4,'y',0)
    df = df.astype('str')
    for i,dt in enumerate(df['rcept_dt']):
        df.loc[i,'m'] = dt[4:6]
    df_list2.append(df)

In [6]:
df_list2[0].head(2)

  corp_name stock_code        report_nm  rcept_dt     y positive negative   m
0     CMG제약      58820  주주명부폐쇄기간또는기준일설정  20181213  2018      0.0      0.0  12
1     CMG제약      58820            소속부변경  20180430  2018      1.0      0.0  04

# drop

In [7]:
df_list2[0].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   corp_name   42 non-null     object
 1   stock_code  42 non-null     object
 2   report_nm   42 non-null     object
 3   rcept_dt    42 non-null     object
 4   y           42 non-null     object
 5   positive    42 non-null     object
 6   negative    42 non-null     object
 7   m           42 non-null     object
dtypes: object(8)
memory usage: 2.8+ KB

In [8]:
# df_list3[0]['report_nm'][:3].str

In [9]:
drop_df = pd.DataFrame(columns = ['df', 'row' ])
drop_df

Empty DataFrame
Columns: [df, row]
Index: []

In [10]:
for i, df in enumerate(df_list2):
    for j,title in enumerate(df['report_nm']):
        if ("단일판매" in title) or ("보고서" in title) or("주주총회" in title) or("참고서류" in title):
            # print(1)
            drop_df = drop_df.append({'df':i,'row':j}, ignore_index=True)

In [11]:
df_list3 = []
for i, df in enumerate(df_list2):
    tmp_list =[]
    tmp=drop_df[drop_df['df']==i]['row']
    # tmp_list.append(tmp)
    df = df.drop(tmp.values, axis = 0)
    df_list3.append(df)

In [12]:
df_list3[0].tail(2)

   corp_name stock_code   report_nm  rcept_dt     y positive negative   m
40     CMG제약      58820     신규시설투자등  20220120  2022      0.0      0.0  01
41     CMG제약      58820  불성실공시법인미지정  20220103  2022      0.0      0.0  01

# 연별로 구분

In [13]:
df = pd.concat(df_list3)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8659 entries, 0 to 91
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   corp_name   8659 non-null   object
 1   stock_code  8659 non-null   object
 2   report_nm   8659 non-null   object
 3   rcept_dt    8659 non-null   object
 4   y           8659 non-null   object
 5   positive    8659 non-null   object
 6   negative    8659 non-null   object
 7   m           8659 non-null   object
dtypes: object(8)
memory usage: 608.8+ KB

In [14]:
df_2018 = df[df['y']=='2018']
df_2018[['y','positive','negative','m']] = df_2018[['y','positive','negative','m']].astype('float')

df_2019 = df[df['y']=='2019']
df_2019[['y','positive','negative','m']] = df_2019[['y','positive','negative','m']].astype('float')

df_2020 = df[df['y']=='2020']
df_2020[['y','positive','negative','m']] = df_2020[['y','positive','negative','m']].astype('float')

df_2021 = df[df['y']=='2021']
df_2021[['y','positive','negative','m']] = df_2021[['y','positive','negative','m']].astype('float')

df_2022 = df[df['y']=='2022']
df_2022[['y','positive','negative','m']] = df_2022[['y','positive','negative','m']].astype('float')

# 월별로

In [15]:
df_2018.head(2)

,corp_name,stock_code,report_nm,rcept_dt,y,positive,negative,m
0,CMG제약,58820,주주명부폐쇄기간또는기준일설정,20181213,2018.0,0.0,0.0,12.0
1,CMG제약,58820,소속부변경,20180430,2018.0,1.0,0.0,4.0

In [20]:
dflist_18=[]
for i in range(1,13):
    df_i = df_2018[df_2018['m']==i]
    df_i = df_i.iloc[:,[0,4,5,6,7]]
    dflist_18.append(df_i)

In [21]:
dflist_19=[]
for i in range(1,13):
    df_i = df_2019[df_2019['m']==i]
    df_i = df_i.iloc[:,[0,4,5,6,7]]
    dflist_19.append(df_i)

In [22]:
dflist_20=[]
for i in range(1,13):
    df_i = df_2020[df_2020['m']==i]
    df_i = df_i.iloc[:,[0,4,5,6,7]]
    dflist_20.append(df_i)

In [23]:
dflist_21=[]
for i in range(1,13):
    df_i = df_2021[df_2021['m']==i]
    df_i = df_i.iloc[:,[0,4,5,6,7]]
    dflist_21.append(df_i)

In [24]:
dflist_22=[]
for i in range(1,13):
    df_i = df_2022[df_2022['m']==i]
    df_i = df_i.iloc[:,[0,4,5,6,7]]
    dflist_22.append(df_i)

In [26]:
dflist_18[1].tail()

   corp_name       y  positive  negative    m
15       휴온스  2018.0       1.0       0.0  2.0
16       휴온스  2018.0       1.0       0.0  2.0
10    휴온스글로벌  2018.0       1.0       0.0  2.0
11    휴온스글로벌  2018.0       1.0       0.0  2.0
12    휴온스글로벌  2018.0       1.0       0.0  2.0

## sum()

In [68]:
# dflist_18[1]

In [69]:
dflist_18_1 = []
for i,df in enumerate(dflist_18):
    tmp=df.groupby('corp_name').sum()
    tmp = tmp.reset_index()
    tmp = tmp.iloc[:,[0,2,3]]
    tmp['date'] = f'2018-{i+1}'
    tmp = tmp[['corp_name','date','positive','negative']]
    dflist_18_1.append(tmp)

In [70]:
dflist_18_1[4].head(2)

  corp_name    date  positive  negative
0       HLB  2018-5       1.0       0.0
1    JW생명과학  2018-5       0.0      -1.0

In [71]:
dflist_19_1 = []
for i,df in enumerate(dflist_19):
    tmp=df.groupby('corp_name').sum()
    tmp = tmp.reset_index()
    tmp = tmp.iloc[:,[0,2,3]]
    tmp['date'] = f'2019-{i+1}'
    tmp = tmp[['corp_name','date','positive','negative']]
    dflist_19_1.append(tmp)

In [72]:
dflist_20_1 = []
for i,df in enumerate(dflist_20):
    tmp=df.groupby('corp_name').sum()
    tmp = tmp.reset_index()
    tmp = tmp.iloc[:,[0,2,3]]
    tmp['date'] = f'2020-{i+1}'
    tmp = tmp[['corp_name','date','positive','negative']]
    dflist_20_1.append(tmp)

In [73]:
dflist_21_1 = []
for i,df in enumerate(dflist_21):
    tmp=df.groupby('corp_name').sum()
    tmp = tmp.reset_index()
    tmp = tmp.iloc[:,[0,2,3]]
    tmp['date'] = f'2021-{i+1}'
    tmp = tmp[['corp_name','date','positive','negative']]
    dflist_21_1.append(tmp)

In [74]:
dflist_22_1 = []
for i,df in enumerate(dflist_22):
    tmp=df.groupby('corp_name').sum()
    tmp = tmp.reset_index()
    tmp = tmp.iloc[:,[0,2,3]]
    tmp['date'] = f'2022-{i+1}'
    tmp = tmp[['corp_name','date','positive','negative']]
    dflist_22_1.append(tmp)

In [85]:
dflist_22_1[9].head(2)

  corp_name     date  positive  negative
0       HLB  2022-10       0.0       0.0
1   HLB생명과학  2022-10       0.0       0.0

# concat & merge

## merge

In [98]:
ticker_df = ticker_df.drop('ticker', axis = 1)

KeyError: "['ticker'] not found in axis"

In [99]:
ticker_df.columns = ['corp_name']
ticker_df.head(2)

  corp_name
1     CMG제약
2       HLB

In [100]:
dflist_18_2=[]
for i,df in enumerate(dflist_18_1):
    merge_df = pd.merge(ticker_df,df, how='left', left_on='corp_name', right_on='corp_name')
    merge_df['date'] = f'2018-{i+1}'
    dflist_18_2.append(merge_df)

In [101]:
dflist_18_2[0].head(2)

  corp_name    date  positive  negative
0     CMG제약  2018-1       NaN       NaN
1       HLB  2018-1       1.0       0.0

In [102]:
dflist_19_2=[]
for i,df in enumerate(dflist_19_1):
    merge_df = pd.merge(ticker_df,df, how='left', left_on='corp_name', right_on='corp_name')
    merge_df['date'] = f'2019-{i+1}'
    dflist_19_2.append(merge_df)

In [103]:
dflist_20_2=[]
for i,df in enumerate(dflist_20_1):
    merge_df = pd.merge(ticker_df,df, how='left', left_on='corp_name', right_on='corp_name')
    merge_df['date'] = f'2020-{i+1}'
    dflist_20_2.append(merge_df)

In [104]:
dflist_21_2=[]
for i,df in enumerate(dflist_21_1):
    merge_df = pd.merge(ticker_df,df, how='left', left_on='corp_name', right_on='corp_name')
    merge_df['date'] = f'2021-{i+1}'
    dflist_21_2.append(merge_df)

In [105]:
dflist_22_2=[]
for i,df in enumerate(dflist_22_1):
    merge_df = pd.merge(ticker_df,df, how='left', left_on='corp_name', right_on='corp_name')
    merge_df['date'] = f'2022-{i+1}'
    dflist_22_2.append(merge_df)

## concat

In [106]:
df18 = pd.concat(dflist_18_2)
df19 = pd.concat(dflist_19_2)
df20 = pd.concat(dflist_20_2)
df21 = pd.concat(dflist_21_2)
df22 = pd.concat(dflist_22_2)

In [107]:
df18.tail(5)

    corp_name     date  positive  negative
121      휴마시스  2018-12       1.0       0.0
122      휴메딕스  2018-12       1.0       0.0
123       휴비츠  2018-12       0.0       0.0
124       휴온스  2018-12       1.0       0.0
125    휴온스글로벌  2018-12       2.0       0.0

In [108]:
df_공시_월별 = pd.concat([df19,df20,df21,df22])

In [109]:
df_공시_월별.head()

  corp_name    date  positive  negative
0     CMG제약  2019-1       NaN       NaN
1       HLB  2019-1       0.0       0.0
2   HLB생명과학  2019-1       NaN       NaN
3    JW생명과학  2019-1       NaN       NaN
4      JW신약  2019-1       NaN       NaN

In [110]:
df_공시_월별.to_csv('../데이터/공시정보/공시_월간(19-22).csv', index=False)