In [1]:
import numpy as np

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

sns.set() 

import json
import requests

plt.rcParams['font.family']= 'Malgun Gothic'
plt.rcParams['axes.unicode_minus'] = False

In [2]:
import plotly as ply
import plotly.graph_objects as go
import chart_studio.plotly as py
from plotly.subplots import make_subplots # 서브플롯을 만들기 위헤
import plotly.io as pio
import plotly.express as px

import chart_studio
chart_studio.tools.set_credentials_file(username='blueblue987', api_key='AJEgsS6al89p7UzgkTjj')

In [3]:
df3 = pd.read_csv('./집계구별 일별시간대별 카드소비패턴.csv', encoding='CP949')
# df3.head()
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   업종대분류(UPJONG_CLASS1)  500 non-null    object
 1   기준일자(YMD)             500 non-null    int64
 2   시간대구간(TIME)           500 non-null    int64
 3   고객주소집계구별(TOT_REG_CD)  500 non-null    int64
 4   카드이용금액계(AMT_CORR)     500 non-null    int64
 5   카드이용건수계(USECT_CORR)   500 non-null    int64
dtypes: int64(5), object(1)
memory usage: 23.6+ KB

In [4]:
df3['기준일자(YMD)'] = df3['기준일자(YMD)'].astype(str)
df3['y'] = df3['기준일자(YMD)'].str[0:4]
df3['m'] =df3['기준일자(YMD)'].str[4:6]
df3['d'] =df3['기준일자(YMD)'].str[6:8]
df3.head()

,업종대분류(UPJONG_CLASS1),기준일자(YMD),시간대구간(TIME),고객주소집계구별(TOT_REG_CD),카드이용금액계(AMT_CORR),카드이용건수계(USECT_CORR),y,m,d
0,요식/유흥,20161004,6,1123076010009,104624,10,2016,10,04
1,유통,20210303,5,1122060030003,382592,20,2021,03,03
2,유통,20170606,6,1123066022301,341688,5,2017,06,06
3,스포츠/문화/레저,20171206,5,1124075020103,925118,5,2017,12,06
4,의료,20160909,6,1113075030002,217985,50,2016,09,09

In [5]:
df3 = df3.drop([499,444,110,121],axis = 0)

In [6]:
df3['업종대분류(UPJONG_CLASS1)'] = df3['업종대분류(UPJONG_CLASS1)'].replace(['가전/가구','가정생활/서비스'],'가정생활')
df3['업종대분류(UPJONG_CLASS1)'] = df3['업종대분류(UPJONG_CLASS1)'].replace('교육/학원','교육')
df3['업종대분류(UPJONG_CLASS1)'] = df3['업종대분류(UPJONG_CLASS1)'].replace(['스포츠/문화/레저','여행/교통'],'문화')
df3['업종대분류(UPJONG_CLASS1)'] = df3['업종대분류(UPJONG_CLASS1)'].replace(['주유','자동차'],'교통')
df3['업종대분류(UPJONG_CLASS1)'] = df3['업종대분류(UPJONG_CLASS1)'].replace(['요식/유흥','음/식료품'],'식품')
df3['업종대분류(UPJONG_CLASS1)'] = df3['업종대분류(UPJONG_CLASS1)'].replace(['의류/잡화','미용'],'패션')
df3['업종대분류(UPJONG_CLASS1)'].value_counts()

df3 = df3.drop('고객주소집계구별(TOT_REG_CD)', axis = 1)
df3.head()

,업종대분류(UPJONG_CLASS1),기준일자(YMD),시간대구간(TIME),카드이용금액계(AMT_CORR),카드이용건수계(USECT_CORR),y,m,d
0,식품,20161004,6,104624,10,2016,10,04
1,유통,20210303,5,382592,20,2021,03,03
2,유통,20170606,6,341688,5,2017,06,06
3,문화,20171206,5,925118,5,2017,12,06
4,의료,20160909,6,217985,50,2016,09,09

In [7]:
mdf3 = df3.sort_values(['m','업종대분류(UPJONG_CLASS1)'])
cdf3 = df3.sort_values(['업종대분류(UPJONG_CLASS1)','m'])

cdf16= df3[df3['y']=='2016'].sort_values(['업종대분류(UPJONG_CLASS1)','m'])
cdf17= df3[df3['y']=='2017'].sort_values(['업종대분류(UPJONG_CLASS1)','m'])
cdf18= df3[df3['y']=='2018'].sort_values(['업종대분류(UPJONG_CLASS1)','m'])
cdf19= df3[df3['y']=='2019'].sort_values(['업종대분류(UPJONG_CLASS1)','m'])
cdf20= df3[df3['y']=='2020'].sort_values(['업종대분류(UPJONG_CLASS1)','m'])
cdf21= df3[df3['y']=='2021'].sort_values(['업종대분류(UPJONG_CLASS1)','m'])

mdf16= df3[df3['y']=='2016'].sort_values(['m','업종대분류(UPJONG_CLASS1)'])
mdf17= df3[df3['y']=='2017'].sort_values(['m','업종대분류(UPJONG_CLASS1)'])
mdf18= df3[df3['y']=='2018'].sort_values(['m','업종대분류(UPJONG_CLASS1)'])
mdf19= df3[df3['y']=='2019'].sort_values(['m','업종대분류(UPJONG_CLASS1)'])
mdf20= df3[df3['y']=='2020'].sort_values(['m','업종대분류(UPJONG_CLASS1)'])
mdf21= df3[df3['y']=='2021'].sort_values(['m','업종대분류(UPJONG_CLASS1)'])

In [8]:
gadf = mdf3[mdf3['업종대분류(UPJONG_CLASS1)']=='가정생활']
eddf = mdf3[mdf3['업종대분류(UPJONG_CLASS1)']=='교육']
trandf = mdf3[mdf3['업종대분류(UPJONG_CLASS1)']=='교통']
culdf = mdf3[mdf3['업종대분류(UPJONG_CLASS1)']=='문화']
fodf = mdf3[mdf3['업종대분류(UPJONG_CLASS1)']=='식품']
logisdf = mdf3[mdf3['업종대분류(UPJONG_CLASS1)']=='유통']
meddf = mdf3[mdf3['업종대분류(UPJONG_CLASS1)']=='의료']
onlinedf = mdf3[mdf3['업종대분류(UPJONG_CLASS1)']=='전자상거래']
fadf = mdf3[mdf3['업종대분류(UPJONG_CLASS1)']=='패션']

In [ ]:
df3.info()

In [ ]:
fig = px.bar(cdf3, x='업종대분류(UPJONG_CLASS1)', y='카드이용건수계(USECT_CORR)')
# fig.show()
# py.plot(fig, filename = 'df3')

In [ ]:
fig = px.bar(cdf3, x='업종대분류(UPJONG_CLASS1)', y='카드이용금액계(AMT_CORR)')
# fig.show()
# py.plot(fig, filename = 'df3')

In [ ]:
# fig = make_subplots(cols=2, subplot_titles = ['이용건수','이용금액'])
# fig.add_scatter(x=cdf3['업종대분류(UPJONG_CLASS1)'], y=cdf3['카드이용건수계(USECT_CORR)'],row=1, col=1) 
# fig.add_bar(x=cdf3['업종대분류(UPJONG_CLASS1)'], y=cdf3['카드이용금액계(AMT_CORR)'], row=1, col=2) 
# ## 업종 top3 : 유통,교통,식품
# # py.plot(fig, filename = '업종별_건수금액')
# fig.show()

In [ ]:
fig = go.Figure(go.Bar(x=cdf3['업종대분류(UPJONG_CLASS1)'], y=cdf3['카드이용건수계(USECT_CORR)']))
py.plot(fig, filename = '업종별_건수')
fig.show()

In [ ]:
fig = go.Figure(go.Bar( x=cdf3['업종대분류(UPJONG_CLASS1)'], y=cdf3['카드이용금액계(AMT_CORR)']))
py.plot(fig, filename = '업종별_금액')
fig.show()

In [ ]:
trandf.head()

In [ ]:
cdf3.columns

In [ ]:
# fig = make_subplots(cols=2, subplot_titles = ['문화업종 이용건수','문화업종 이용금액'])
# fig.add_bar(x = culdf['시간대구간(TIME)'], y=culdf['카드이용건수계(USECT_CORR)'],row=1, col=1) 
# fig.add_bar(x = culdf['시간대구간(TIME)'], y=culdf['카드이용금액계(AMT_CORR)'], row=1, col=2) 
# # fig.show()
# py.plot(fig, filename = '가정시간대_건수금액')
# ## 문화업종은 3,56구간 늦은 오전과 늦은 오후에 이용건수, 이용금액이 많다/주부들이 늦은 오전, 직장인들이 늦은 오후에 소비할 것으로 추측

In [ ]:
cdf3.columns

# 히트맵

In [ ]:
fvdf1 = cdf3.pivot_table(index='업종대분류(UPJONG_CLASS1)', values='카드이용금액계(AMT_CORR)', columns='시간대구간(TIME)', aggfunc="mean")
fvdf1 = fvdf1.fillna(0)
fvdf1.isna()

In [ ]:
data= fvdf1.values.tolist()
x_label = fvdf1.index.values.tolist()
y_label =fvdf1.columns.values.tolist()
fig = px.imshow(data,
                labels=dict(x='시간대구간(TIME)',color='카드이용금액계(AMT_CORR)'),
                x=y_label,
                y=x_label,
                color_continuous_scale="Pubu",width=800, height=500
               )
fig.update_xaxes(side="top")
py.plot(fig, filename = '업종별_시간대별_금액', auto_open=False)
fig.show()

In [ ]:
fvdf2 = cdf3.pivot_table(index='업종대분류(UPJONG_CLASS1)', values='카드이용건수계(USECT_CORR)', columns='시간대구간(TIME)', aggfunc="mean")
fvdf2 = fvdf2.fillna(0)
fvdf2.isna()

In [ ]:
data= fvdf2.values.tolist()
x_label = fvdf2.index.values.tolist()
y_label =fvdf2.columns.values.tolist()
fig = px.imshow(data,
                labels=dict(x='시간대구간(TIME)', color='카드이용건수계(USECT_CORR)'),
                x=y_label,
                y=x_label,
                color_continuous_scale="Pubu",width=800, height=500
               )
fig.update_xaxes(side="top")
py.plot(fig, filename = '업종별_시간대별_건수', auto_open=False)
fig.show()

# 교통_시간대별_카드이용건수금액 -- twinax 완전 개망

In [ ]:
trandf.columns

In [ ]:
# fig = make_subplots(specs=[[{"secondary_y": True}]])
# fig.add_trace(
#     go.Bar(x=trandf['시간대구간(TIME)'], y=trandf['카드이용건수계(USECT_CORR)'], name='카드이용건수계(USECT_CORR)'),
#     secondary_y=False)
# fig.add_trace(
#     go.Bar(x=trandf['시간대구간(TIME)'], y=trandf['카드이용금액계(AMT_CORR)'], name='카드이용금액계(AMT_CORR)'),
#     secondary_y=True)
# fig.update_layout(
#     title_text="교통_시간대별_카드이용건수금액"
# )
# fig.update_xaxes(title_text="시간대구간")
# fig.update_yaxes(title_text='카드이용건수계(USECT_CORR)', secondary_y=False)
# fig.update_yaxes(title_text='카드이용금액계(AMT_CORR)', secondary_y=True)
# py.plot(fig, filename = '교통_시간대별_카드이용건수금액', auto_open=False)
# fig.show()

In [ ]:
# fig = make_subplots(specs=[[{"secondary_y": True}]])
# fig.add_trace(
#     go.Strip(x=culdf['시간대구간(TIME)'], y=culdf['카드이용건수계(USECT_CORR)'], name='카드이용건수계(USECT_CORR)'),
#     secondary_y=False)
# fig.add_trace(
#     go.Strip(x=culdf['시간대구간(TIME)'], y=culdf['카드이용금액계(AMT_CORR)'], name='카드이용금액계(AMT_CORR)'),
#     secondary_y=True)
# fig.update_layout(
#     title_text="문화_시간대별_카드이용건수금액"
# )
# fig.update_xaxes(title_text="시간대구간")
# fig.update_yaxes(title_text='카드이용건수계(USECT_CORR)', secondary_y=False)
# fig.update_yaxes(title_text='카드이용금액계(AMT_CORR)', secondary_y=True)
# py.plot(fig, filename = '문화_시간대별_카드이용건수금액', auto_open=False)
# fig.show()

# 따로 따로 보여주기

In [ ]:
trandf.columns

## 교통

In [ ]:
# fig = go.Figure(go.Bar( x=cdf3['업종대분류(UPJONG_CLASS1)'], y=cdf3['카드이용금액계(AMT_CORR)']))
# py.plot(fig, filename = '업종별_금액')
# fig.show()

In [ ]:
fig = go.Figure(go.Bar( x=trandf['시간대구간(TIME)'], y=trandf['카드이용건수계(USECT_CORR)']))
# py.plot(fig, filename = '교통_시간대별_카드이용건수')
fig.show()

In [ ]:
fig = go.Figure(go.Bar( x=trandf['시간대구간(TIME)'], y=trandf['카드이용금액계(AMT_CORR)']))
# py.plot(fig, filename = '교통_시간대별_카드이용금액')
fig.show()

In [ ]:
# fig = px.bar(trandf, '시간대구간(TIME)'], y=['카드이용금액계(AMT_CORR)'])
# fig.show()
# py.plot(fig, filename = '교통_시간대별_카드이용금액', auto_open=False)

## 문화

In [ ]:
fig = go.Figure(go.Bar( x=culdf['시간대구간(TIME)'], y=culdf['카드이용건수계(USECT_CORR)']))
# py.plot(fig, filename = '문화_시간대별_카드이용건수')
fig.show()

In [ ]:
fig = go.Figure(go.Bar( x=culdf['시간대구간(TIME)'], y=culdf['카드이용금액계(AMT_CORR)']))
# py.plot(fig, filename = '문화_시간대별_카드이용금액')
fig.show()

In [ ]:
# fig = px.bar(culdf, x='시간대구간(TIME)', y='카드이용건수계(USECT_CORR)')
# fig.show()
# py.plot(fig, filename = '문화_시간대별_카드이용건수', auto_open=False)

In [ ]:
# fig = px.bar(culdf, x='시간대구간(TIME)', y='카드이용금액계(AMT_CORR)')
# fig.show()
# py.plot(fig, filename = '문화_시간대별_카드이용금액', auto_open=False)

In [ ]:
wetetewt

# 전자상거래/유통

In [ ]:
logisdf[logisdf['y'].isin(['2016','2017','2018'])].head()

In [ ]:
logisdf[logisdf['y'].isin(['2019','2020','2021'])].head()

In [ ]:
fig = go.Figure(go.Bar( x=logisdf[logisdf['y'].isin(['2016','2017','2018'])]['시간대구간(TIME)'], y=logisdf['카드이용건수계(USECT_CORR)']))
py.plot(fig, filename = '52전_유통_시간대별_카드이용건수')
fig.show()

In [ ]:
fig = go.Figure(go.Bar( x=logisdf[logisdf['y'].isin(['2019','2020','2021'])]['시간대구간(TIME)'], y=logisdf['카드이용건수계(USECT_CORR)']))
py.plot(fig, filename = '52후_유통_시간대별_카드이용건수')
fig.show()

In [ ]:
fig = go.Figure(go.Bar( x=fodf[fodf['y'].isin(['2016','2017','2018'])]['시간대구간(TIME)'], y=fodf['카드이용건수계(USECT_CORR)']))
py.plot(fig, filename = '52전_식품_시간대별_카드이용건수')
fig.show()

In [ ]:
fig = go.Figure(go.Bar( x=fodf[fodf['y'].isin(['2019','2020','2021'])]['시간대구간(TIME)'], y=fodf['카드이용건수계(USECT_CORR)']))
py.plot(fig, filename = '52후_식품_시간대별_카드이용건수')
fig.show()

In [ ]:
fig = go.Figure(go.Bar( x=onlinedf[onlinedf['y'].isin(['2016','2017','2018'])]['시간대구간(TIME)'], y=onlinedf['카드이용건수계(USECT_CORR)']))
py.plot(fig, filename = '18년이전_온라인_시간대별_카드이용건수')
fig.show()

In [ ]:
fig = go.Figure(go.Bar( x=onlinedf[onlinedf['y'].isin(['2019','2020','2021'])]['시간대구간(TIME)'], y=onlinedf['카드이용건수계(USECT_CORR)']))
py.plot(fig, filename = '18년이후_온라인_시간대별_카드이용건수')
fig.show()

In [ ]:
fig = go.Figure(go.Bar( x=culdf[culdf['y'].isin(['2016','2017','2018'])]['시간대구간(TIME)'], y=culdf['카드이용건수계(USECT_CORR)']))
py.plot(fig, filename = '18년이전_문화_시간대별_카드이용건수')
fig.show()

In [ ]:
fig = go.Figure(go.Bar( x=culdf[culdf['y'].isin(['2019','2020','2021'])]['시간대구간(TIME)'], y=culdf['카드이용건수계(USECT_CORR)']))
py.plot(fig, filename = '18년이후_문화_시간대별_카드이용건수')
fig.show()